* {
    font-family: 'Ubuntu', sans-serif;	
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right,rgb(255, 56, 156), white, rgb(56, 209, 255));
    
    
}
        

.header {
        
}

.header > h1 {
    
    color: #1C1C1C;
    padding: 15px;
}

.header > p {
    padding: 15px;
}

.header > img {
    width:200px;
    border-radius: 10%;
    filter: grayscale(1);
    transition: .3s;
    cursor: pointer;
}

img.ico {
    margin-top: 15px;
    width:20px;
    border-radius: 10%;
    filter: grayscale(1);
    cursor: pointer;
}

img:hover {
   
    cursor: pointer;
    filter: grayscale(0);
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.about {
    background-color: #77bbff;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 20px 20px 50px grey;
}

.about > h1 {				
    color: #1C1C1C;
    padding: 10px;
    font-size: 1.25em;
}

.detalhes > h1 {				
    color: #1C1C1C;
    padding: 10px;
    font-size: 1.25em;
}

.negrito {
    font-weight: 700;				
}

p {
    color: #404040;
    padding: 20px;
}