:root {
    --title-color: #6982f2;
    --primary-color: #34cb79;
    --secondary-color: #190fe6;
  
    --white:#ffffff;
    --black: #ea79b9;
  }
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-image: url("../assets/mariobg.jpg");
    background-size: contain;
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
  }
  
  
  body {
    background-color: #5151ff;
    -webkit-font-smoothing: antialiased;
  }
  
  a {
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
  }
  
  a:hover {
    transition: 0.2s ease all;
    scale: 0.95;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Ubuntu", sans-serif;
    color: var(--white);
  }
  
  section {
    height: 95vh;
    max-height: fit-content;
    align-items: center;
    justify-content: center;
  }

  #destaque{
    border-color: white;
  }
  
  
  #Lançamentos {
    background-color:  #5a7bff;
    height: 130vh;
    max-height: fit-content;
    align-items: center;
    justify-content: center;
  }
  
  #Publishers {
    background-color: #5a7bff;
    height: 85vh;
    max-height: fit-content;
    align-items: center;
    justify-content: center;
  }
  
  #plataformas {
    background-color:  #5a7bff;
    height: 85vh;
    max-height: fit-content;
    align-items: center;
    justify-content: center;
  }
  
  
  
  /*HEADER*/
  
  
  header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    height: 60px;
    background-color: rgb(0, 0, 0);
  }
  
  header .logo {
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  header .logo img {
    margin-top: 0%;
    width: 90px;
    height: 60px;
  }
  
  header .links {
    display: flex;
    flex-direction: row;
  }
  
  header .links a {
    margin: 0 5px;
    background-color: rgb(21, 8, 8);
    color: rgb(255, 255, 255);
  }
  
  header .links p {
  
    background-color: rgb(255, 255, 255);
  }
  
  header .input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  
  header .input img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }
  
  
  /*HEADER FIM*/
  
  
  
  /*CARROUSEL*/
  
  
  .destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    border-color: white;
  }
  
  .destaque h1 {
    text-align: center;
    color: var(--white);
    font-weight: 700;
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 24px auto;
    border-color: white;
  
  }
  
  #item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  
  #item iframe {
  
    width: 50%;
  }
  
  #item .about {
  
    width: 50%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: 0 8px 8px 0;
  
  }
  
  .about-texts p {
  
  
    color: var(--white);
  
  }
  
  .about a {
    width: 120%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    border: solid var(--black);
    background-color:#5a7bff ;
  }
  
  
  
  /*CARROUSEL FIM */
  
  
  
  /*LANCAMENTOS*/
  
  
  .Lançamentos .input {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  
    width: 35%;
    align-items: center;
    margin-left: 14%;
  }
  
  .Lançamentos .input h1 {
    color: var(--white);
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .Lançamentos .forma {
    margin-top: 35px;
    margin-left: 20%;
  
    margin-right: 5%;
  }
  
  .Lançamentos .form {
    margin-top: 35px;
  }
  
  .Lançamentos {
    border-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blak);
    margin-bottom: 0px;
  }
  
  
  
  .Lançamentos .cards {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 0x;
  }
  
  .Lançamentos .card {
    width: 289px;
    height: 250px;
    border-radius: 8px;
    margin-bottom: 0px;
    border-color: rgb(255, 251, 250);
    background-color: #5a7bff ;
  
  }
  
  .Lançamentos .cards a {
    text-align: center;
  
  
    color: rgb(255, 255, 255);
  }
  
  .Lançamentos .card iframe {
    width: 95%;
    height: 50%;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
  
  
  .Lançamentos .card button {
    border-radius: 8px;
    margin: 0px;
    background-color:#5a7bff ;
    border-style: solid rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  
  }
  
  .Lançamentos .card button a {
    color: rgb(255, 250, 249);
  
  }
  
  
  
  
  /*LANCAMENTOS FIM*/
  
  
  
  /*PLATAFORMAS*/
  .plataformas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
  
  }
  
  .plataformas h1 {
    color: var(--white);
    font-weight: 700;
  
  }
  
  .plataformas .cardss {
    background-color: #5a7bff k;
    display: grid;
    gap: 55px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .plataformas img {
    margin-left: 25%;
    width: 40%;
    height: 40%;
  }
  
  .plataformas .cardss .card h6 {
    color: rgb(255, 253, 253);
    border-color: rgb(255, 255, 255);
    text-align: center;
    align-items: flex-end;
    background-color: #5a7bff ;
  }
  
  .plataformas .cardss .card ul {
    margin-top: 8%;
    background-color:#5a7bff ;
  }
  
  .plataformas .cardss .card .nitendo {
    margin-top: 12%;
    background-color: #5a7bff ;
  }
  
  .plataformas .cardss .card .xbox {
    margin-top: 5%;
    background-color:#5a7bff ;
  }
  
  .plataformas .card {
    width: 300px;
    height: 250px;
    background-color:#5a7bff ;
    border-radius: 8px;
    margin: auto;
    border-color: rgb(246, 246, 246);
  }
  
  .plataformas .botão button a {
  
    position: absolute;
    right: 0px;
    width: 200px;
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    ;
    margin-top: 5%;
    margin-right: 105px;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
    background-color: #5a7bff ;
  }
  
  .plataformas .cardss .card button {
    background-color:#5a7bff ;
    border-radius: 8px;
    margin-right: 2px;
  
  }
  
  
  
  
  /*PLATAFORMAS FIM*/
  
  
  
  /*PUBLISHERS*/
  
  
  .Publishers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
  }
  
  .Publishers h1 {
    color: var(--white);
    font-weight: 700;
  }
  
  .Publishers .cardss {
    background-color:#5a7bff ;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .Publishers .card {
    width: 289px;
    height: 250px;
    border-radius: 8px;
    margin-bottom: 0px;
    border-color: rgb(255, 255, 255);
    background-color: #5a7bff ;
  }
  
  .Publishers .cardss .card h6 {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    text-align: center;
    align-items: flex-end;
    background-color: #5a7bff ;
  }
  
  .Publishers img {
    margin-left: 25%;
    width: 40%;
    height: 40%;
  }
  
  .Publishers .cardss .card ul {
    margin-top: 8%;
    background-color: #5a7bff ;
  }
  
  .Publishers .cardss .card .publi {
    margin-top: 20px;
  }
  
  .Publishers .cardss .card .nitendo {
    margin-top: 12%;
    background-color: #5a7bff;
  }
  
  .Publishers .cardss .card .xbox {
    margin-top: 5%;
    background-color: #ececed;
  }
  
  .Publishers .botão button a {
  
    position: absolute;
    right: 0px;
    width: 200px;
    border: 3px solid rgb(255, 252, 251);
    color: rgb(255, 255, 255);
    ;
    margin-top: 5%;
    margin-right: 105px;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
    background-color:#5a7bff ;
  }
  
  .Publishers .cardss .card button {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-right: 2px;
  
  
  }
  
  
  
  /*PUBLISHERS FIM*/
  
  
  
  /*FOOTER*/
  
  
  #myFooter {
    flex-direction: row;
    background-color: #5a7bff;
    color: rgb(244, 243, 243);
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
  }
  
  #myFooter .social-icons {
  
    background-color: #5a7bff;
    flex-direction: row;
  }
  
  
  
  #myFooter .info {
    text-align: justify;
    color: #fefefe;
  }
  
  #myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }
  
  #myFooter h5 {
    text-align: left;
    font-size: 18px;
    color: white;
    margin-top: 30px;
  }
  
  #myFooter p {
    text-align: left;
    flex-direction: row;
  }
  
  #myFooter .logo {
    margin-top: 10px;
  }
  
  #myFooter .second-bar .logo a {
    color: white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
  }
  
  #myFooter a {
    color: #d2d1d1;
    text-decoration: none;
  }
  
  #myFooter .inicio {
    margin-left: 15%;
    background-color: #5a7bff;
    ;
  
  }
  
  #myFooter a:hover,
  #myFooter a:focus {
    text-decoration: none;
    color: white;
  }
  
  #myFooter .second-bar {
    text-align: center;
    background-color: #5a7bff;
    text-align: center;
  }
  
  #myFooter .second-bar a {
    font-size: 22px;
    color: #5a7bff;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
  }
  
  #myFooter .second-bar a:hover {
    text-decoration: none;
  }
  
  #myFooter .social-icons {
    float: right;
  }
  
  
  #myFooter .facebook:hover {
    color: #0077e2;
  }
  
  #myFooter .instagram:hover {
    color: purple;
  }
  
  #myFooter .twitter:hover {
    color: #00aced;
  }
  
  
  /*FOOTER FIM*/
  
  
  
  
  /*MEDIA QUERIES*/
  
  @media screen and (max-width: 767px) {
    #myFooter {
      text-align: center;
    }
  
    #myFooter .info {
      text-align: center;
    }
  }
  
  #myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
  }
  
  
  @media (min-width: 320px) and (max-width: 800px) {
  
    header {
      width: 100%;
      display: block;
      flex-direction: column;
      height: 70px;
    
    }
  
    header .logo img {
      margin-top: 0%;
      width: 50px;
      height: 25px;
    }
  
    header .links {
      display: flex;
      flex-direction: row;
    }
  
    header .input {
      display: none;
    }
  
    .destaque {
      display: flex;
      flex-direction: column;
      margin-top: 100px;
    }
  
    .carousel-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      ;
      margin: 24px auto;
  
    }
  
    #item {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
    }
  
    #item iframe {
  
      width: 100%;
    }
  
    #item .about {
  
      width: 100%;
      padding: 24px;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      margin-bottom: 0px;
  
    }
  
    .about a {
      width: 120%;
      height: 50px;
      top: 100%;
    }
  
    .Lançamentos .input {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
  
    }
  
    .Lançamentos .input h1 {
      display: block;
      margin-top: 600px;
      text-align: center;
  
    }
  
    .Lançamentos .forma {
      display: none;
    }
  
    .Lançamentos .form {
      display: none;
    }
  
    .Lançamentos {
      border-top: 0px;
      display: flex;
      flex-direction: column;
      margin-bottom: 0px;
    }
  
    .Lançamentos .cards {
      display: table-column;
      gap: 50px;
    }
  
    .Lançamentos .card {
      margin-top: 20px;
  
    }
  
    .Lançamentos .cards a {
      text-align: center;
    }
  
    .Lançamentos .card iframe {
      width: 95%;
      height: 50%;
      border-radius: 8px;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
  
    }
  
  
  
    .plataformas {
      border-top: 0px;
      display: flex;
      flex-direction: column;
      margin-bottom: 0px;
  
    }
  
    .plataformas h1 {
      margin-top: 1450px;
    }
  
    .plataformas .cardss {
      display: table-column;
      gap: 24px;
    }
  
  
    .plataformas .card {
      justify-content: space-between;
      margin-bottom: 30px;
    }
  
    .plataformas .botão button a {
  
      display: none;
    }
  
    .Publishers {
      border-top: 0px;
      display: flex;
      flex-direction: column;
      margin-bottom: 0px;
    }
  
    .Publishers h1 {
      margin-top: 1850px;
    }
  
    .Publishers .cardss {
  
      display: table-column;
      gap: 24px;
  
    }
  
    .Publishers .card {
  
      margin-bottom: 20px;
  
    }
  
    .Publishers .botão button a {
      display: none;
    }
  
    #myFooter {
      margin-top: 1000px;
      text-align: start;
    }
  
    #myFooter .info {
      text-align: start;
    }
  
    #myFooter {
      flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
  
    }
  }